﻿@using System.Security.Claims
@using ScholarMate.Web.Extensions


@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron jumbotron-fluid">*@
<h1>ScholarMate</h1>
@*<p class="lead">ScholarMate assists your organization to streamline student registration, fee fixing and arrears, and accounting.</p>*@
@*</div>*@
<div id="carouselExampleIndicators" class="carousel slide my-2" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="~/Images/Carousel/caro1_1200x350.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/Images/Carousel/caro2_1200x350.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/Images/Carousel/caro3_1200x350.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@{
    var schoolid = ((ClaimsIdentity)User.Identity).GetSpecificClaim("SchoolId");
    IDictionary<string, string> all_route = new Dictionary<string, string>();
    all_route.Add("SchoolId", schoolid);
}
@if (User.Identity.IsAuthenticated)
{

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Students</h2>
                </div>
                <div class="card-body">
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-primary btn-sm" asp-action="index" asp-controller="Students" asp-all-route-data="all_route" asp-area="Schools">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Academic Years</h2>
                </div>
                <div class="card-body">
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-primary btn-sm" asp-action="index" asp-controller="AcademicYears" asp-all-route-data="all_route" asp-area="Schools">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Fees</h2>
                </div>
                <div class="card-body">
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-primary btn-sm" asp-action="index" asp-controller="Fees" asp-all-route-data="all_route" asp-area="Schools">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
}

    <div class="row">
        <div class="col-lg-12">
            <form id="shopping-cart" action="cart.html" method="post">
                <table class="shopping-cart">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table> <p id="sub-total">
                    <strong>
                        Sub
                        Total
                    </strong>: <span id="stotal"></span>
                </p> <ul id="shoppingcart-actions">
                    <li>
                        <input type="submit" name="update" id="updatecart"
                               class="btn" value="Update Cart" />
                    </li>
                    <li>
                        <input type="submit" name="delete" id="empty-cart" class="btn"
                               value="Empty Cart" />
                    </li>
                    <li>
                        <a href="index.html"
                           class="btn">Continue Shopping</a>
                    </li>
                    <li>
                        <a href="checkout.html" class="btn">Go To Checkout</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>