﻿<!DOCTYPE html>
<html>
<head>
    <title>Scholar Mate</title>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <environment names="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/toolkit-light.css" />*@
        @*<link rel="stylesheet" href="~/css/site.css" />*@
        @*<link href="~/css/accordion.css" rel="stylesheet" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/accordion.css" rel="stylesheet" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.Partial("_NavbarPartial")

    <div class="container body-content" style="margin-top:60px">
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer class="py-3 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">ScholarMate&copy; @DateTime.Now.Year </p>
            </div>
            <!-- /.container -->
        </footer>
    </div>

    <environment names="Development">
        <script src="~/vendor/jquery/dist/jquery.js"></script>
        <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/vendor/modernizr/src/Modernizr.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/toolkit.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
