﻿@using Microsoft.AspNetCore.Identity
@using ScholarMate.Web.Extensions
@using System.Security.Claims

@inject SignInManager<ScholarMate.Model.Models.Users.ApplicationUser> SignInManager
@inject UserManager<ScholarMate.Model.Models.Users.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav navbar-right right">
            <li class="nav-item">
                @{ var name = ((ClaimsIdentity)User.Identity).GetSpecificClaim("Name");}
                <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @name!</a>
            </li>

            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav navbar-right right">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
