﻿
@using System.Security.Claims
@using ScholarMate.Web.Extensions

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" asp-action="index" asp-controller="home" asp-area="">
        <img src="~/images/logo_120x120.jpg" alt="Logo" style="width:40px;">
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->

    @if (User.Identity.IsAuthenticated)
    {

        var schoolid = ((ClaimsIdentity)User.Identity).GetSpecificClaim("SchoolId");
        IDictionary<string, string> all_route = new Dictionary<string, string>();
        all_route.Add("SchoolId", schoolid);
        //This inserts the organizationid into every page. QUESTION: Why is this done?
        @Html.Hidden("schoolId", schoolid, new { id = "schoolId" })
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="home" asp-area="">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="Schools" asp-all-route-data="all_route" asp-area="Schools">Schools</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="AcademicYears" asp-all-route-data="all_route" asp-area="Schools">Academic Years</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="Levels" asp-all-route-data="all_route" asp-area="Schools">Levels</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="Classes" asp-all-route-data="all_route" asp-area="Schools">Classes</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="Students" asp-all-route-data="all_route" asp-area="Schools">Students</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="Fees" asp-all-route-data="all_route" asp-area="Schools">Fees</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="FeeItems" asp-all-route-data="all_route" asp-area="Schools">Fees Items</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="Testings" asp-all-route-data="all_route" asp-area="Schools">testing</a></li>
                <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="FeeItemMaps" asp-all-route-data="all_route" asp-area="Schools">Fee Item Charges</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    }
    else
    {
        @Html.Partial("_LoginPartial")
    }
</nav>


<!-- Load loginpartial -->
@*@{ Html.RenderPartial("_NavbarProfile"); }*@

<!-- SideBar -->
@*@RenderSection("Sidebar", false)*@
