﻿@model ScholarMate.Model.Models.Schools.School
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>School</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAcademicYearId" class="control-label"></label>
                <select asp-for="CurrentAcademicYearId" class="form-control" asp-items="ViewBag.CurrentAcademicYearId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
