﻿@model ScholarMate.Model.Models.Schools.School

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>School</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoHeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoHeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoWidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoWidth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentAcademicYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentAcademicYear.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
