﻿@model ScholarMate.Model.Models.Schools.School
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit</h2>
<h4>School</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Logo)
                @if (Model.Logo == null)
                {
                    <div class="form-control-static">No Logo has been set</div>
                }
                else
                {
                    <div class="form-control-static">
                        <img class="img-thumbnail" height="50" src="@Model.Logo" alt="Logo" />
                    </div>
                }
                @Html.TextBoxFor(x => x.Logo, new { type = "file" })
                @Html.ValidationMessageFor(x => x.Logo)
            </div>
            <div class="form-group">
                <label asp-for="CurrentAcademicYearId" class="control-label"></label>
                <select asp-for="CurrentAcademicYearId" class="form-control" asp-items="ViewBag.CurrentAcademicYearId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
