﻿@model ScholarMate.Model.Models.Fees.Fee
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Fee</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form class="feeItemsForm" asp-action="Create">
            @{await Html.RenderPartialAsync("FeePartial", Model);}
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@{ Html.RenderPartial("ModalPartial", "Fee items"); }
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/validations.js"></script>
    <script src="~/js/dom-controller.js"></script>
}
<!-- List group -->
<div class="list-group" id="myList" role="tablist">
    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">...</div>
    <div class="tab-pane" id="profile" role="tabpanel">...</div>
    <div class="tab-pane" id="messages" role="tabpanel">...</div>
    <div class="tab-pane" id="settings" role="tabpanel">...</div>
</div>