﻿@model ScholarMate.Model.Models.Fees.Fee

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Fee</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            @{await Html.RenderPartialAsync("FeePartial", Model);}
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@{ await Html.RenderPartialAsync("ModalPartial", "Fee items"); }
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/validations.js"></script>
    <script src="~/js/dom-controller.js"></script>
}
