﻿@model ScholarMate.Model.Models.Fees.Fee

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="AcademicYearId" class="control-label"></label>
    <select asp-for="AcademicYearId" class="form-control" asp-items="ViewBag.AcademicYearId"></select>
</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="card">
    <div class="card-header card-primary">
        Total:
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary pull-right" id="showModal" data-schoolid="@ViewContext.RouteData.Values["schoolId"]" data-url="@Url.Action("FeeItems")">
            Add item
        </button>
    </div>
    <div class="card-body">
        <!-- Table -->
        <table class="table table-responsive table-condensed table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="feeitems">
                @foreach (var item in Model.FeeItems)
                {
                    Html.RenderPartial("FeeItemTemplatePartial", item);
                }
            </tbody>
        </table>
    </div>
</div>
<span id="validation-msg" style="color:red;display:none"></span>
