﻿@model ScholarMate.Model.Models.Fees.FeeItemMap


@{var id = "feeitemid" + Model.FeeItemId.ToString(); var itemid = "itemid" + Model.FeeItemId.ToString(); }
<tr id="@id">
    <td><label class="control-label">@Model.FeeItem.Name</label></td>
    <td>
        <input name="FeeItemMaps[@Model.FeeItemId].Amount" id="@itemid" data-feeitemid="@Model.FeeItemId" class="feeitems form-control" value="@Model.Amount.ToString("n")" />
        <input type="hidden" name="FeeItemMaps[@Model.FeeItemId].Id" value="@Model.Id" />
        <input type="hidden" name="FeeItemMaps[@Model.FeeItemId].FeeId" value="@Model.FeeId" />
        <input type="hidden" name="FeeItemMaps[@Model.FeeItemId].FeeItemId" value="@Model.FeeItemId" />
        <input type="hidden" name="FeeItemMaps.Index" value="@Model.FeeItemId" />
    </td>
    <td><a class="btn btn-warning form-control btn-sm" data-rowid="@id" onclick="remove(this)">&times;</a></td>
</tr>

