﻿@model ScholarMate.Model.Models.Fees.FeeItemMap

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FeeItemMap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchoolId" class="control-label"></label>
                <select asp-for="SchoolId" class ="form-control" asp-items="ViewBag.SchoolId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeeId" class="control-label"></label>
                <select asp-for="FeeId" class ="form-control" asp-items="ViewBag.FeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeeItemId" class="control-label"></label>
                <select asp-for="FeeItemId" class ="form-control" asp-items="ViewBag.FeeItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
